<!doctype html>
<html lang="en" ng-app="shorturlapp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Generate a Short URL</title>

    <meta name="description" content="Short URL Generator">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="js/main.js"></script>
</head>
<body>

<div class="page" ng-controller="ShortUrlController as ctrl">

    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">

            <br />

            <div ng-show="ctrl.url.short == '' && ctrl.url.long == ''">

                <div class="alert alert-danger" role="alert" ng-show="ctrl.form.errorMessage">
                    <p>{{ ctrl.form.errorMessage }}</p>

                    <div ng-if="ctrl.form.errors" ng-repeat="(i, error) in ctrl.form.errors">
                        {{ error }}
                    </div>

                    <div ng-if="ctrl.form.fieldErrors" ng-repeat="(field, errorList) in ctrl.form.fieldErrors">
                        <div ng-repeat="(j, fieldError) in errorList">
                        {{ field + ": " + fieldError }}
                        </div>
                    </div>
                </div>

                <form name="urlshortener">
                    <h3 class="text-center">
                        <label for="url" class="text-center">Which URL would you like to shorten?</label>
                    </h3>

                    <div>
                        <input type="text" id="url" class="form-control" ng-model="ctrl.fields.url" placeholder="Enter a URL" />
                    </div>

                    <br />

                    <p class="text-center">
                        <button class="btn btn-lg btn-primary" ng-hide="ctrl.url.length == 0" ng-click="ctrl.submit()">
                            Get the short URL!
                        </button>
                    </p>
                </form>
            </div>

            <div ng-show="ctrl.url.short != '' && ctrl.url.long != ''">
                <h3 class="text-center">
                    <strong>Et voilà!</strong>
                    <br />
                    <br />
                    <a target="_blank" ng-href="{{ ctrl.url.short }}">{{ ctrl.url.short }}</a>
                </h3>
                <p class="text-center">(links to {{ ctrl.url.long }})</p>
                <br />
                <div class="text-center">
                    <button class="btn btn-lg btn-primary"ng-click="ctrl.url.short = ''; ctrl.url.long = '';">
                        Create another one!
                    </button>
                </div>
            </div>

        </div>
        <div class="col-md-4"></div>
    </div>
</div>


</body>
</html>